h1 {
    text-align: center;
    text-size-adjust: 2%;
    color: black;
    border: 5px solid grey;
    margin-top: 5px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    background-color: pink;
}
h2 {
    text-align: center;
    text-size-adjust: 2%;
    color: black;
    border: 5px solid grey;
    margin-top: 5px;
    
    margin-left: 5px;
    margin-right: 5px;
    background-color: pink;
}

header{
    border: 5px solid grey;
    background-color: lightpink;
}



div.flex {
    display: flex;
}



section {
    margin-top: 5px;
    margin-right:2.5px;
    color: black;
    background-color: lightpink;
    border: 5px solid grey;
    flex:1;
}

aside {
    margin-top: 5px;
    margin-left:2.5px;
    color: black;
    background-color: lightpink;
    border: 5px solid grey;
    flex:1;
}